 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 60px;
}

.u-section-1 .u-text-2 {
  margin: 15px 60px 0;
}

.u-section-1 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: 21px auto 0 60px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -29px 0 0 120px;
}

.u-section-1 .u-icon-2 {
  width: 37px;
  height: 37px;
  margin: 23px auto 0 60px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -29px 0 0 120px;
}

.u-section-1 .u-icon-3 {
  width: 37px;
  height: 37px;
  margin: 23px auto 0 60px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -29px 0 0 120px;
}

.u-section-1 .u-image-1 {
  min-height: 409px;
  background-image: url("images/IMG_20220306_123928.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }
}