 .u-section-1 {
  min-height: 100px;
}

.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 594px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/VideoCapture_20221006-195938.jpg");
  background-position: 85.56% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  min-height: 594px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/umdCampus.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 124px 21px 0 33px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 490px;
  }

  .u-section-1 .u-image-2 {
    min-height: 530px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 52px;
    margin-right: 63px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 406px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 45px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 851px;
  }

  .u-section-1 .u-image-1 {
    min-height: 563px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 609px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 433px;
  }

  .u-section-1 .u-image-1 {
    min-height: 354px;
  }

  .u-section-1 .u-image-2 {
    min-height: 383px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 333px;
}

.u-section-2 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 740px;
}

.u-section-3 .u-slider-1 {
  width: 1063px;
  min-height: 659px;
  height: auto;
  margin: 41px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: url("images/VideoCapture_20221006-195938.jpg");
  background-position: 50% 51.19%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/20200225_150826.jpg");
  background-position: 50% 16.75%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/20200211_094541.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/20200210_081949.jpg");
  background-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 757px;
}

.u-section-4 .u-text-1 {
  width: 152px;
  margin: 16px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 19px 87px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 0 0 16px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 600px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-3 {
  margin: 1px 20px 0;
}

.u-section-4 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-5 {
  margin: 1px 20px 0;
}

.u-section-4 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-7 {
  margin: 1px 20px 0;
}

.u-section-4 .u-text-8 {
  margin: 15px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-4 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-9 {
  margin: 1px 20px 0;
}

.u-section-4 .u-text-10 {
  margin: 15px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-4 .u-icon-5 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-11 {
  margin: 1px 20px 0;
}

.u-section-4 .u-text-12 {
  margin: 15px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-4 .u-icon-6 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-4 .u-text-13 {
  margin: 1px 20px 0;
}

.u-section-4 .u-text-14 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 688px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 606px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 406px;
  margin: 20px 0 0;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-5 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-5 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-5 .u-table-3 {
  margin: 0;
}

.u-section-5 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-50 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-51 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-52 {
  font-weight: 700;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 28px 0 19px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 74px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: -56px 39px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 8px 39px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 15px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: -56px 98px 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 74px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: -56px 59px 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 8px 59px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-5 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-table-1 {
    height: 250px;
  }

  .u-section-5 .u-table-2 {
    margin-top: 59px;
  }

  .u-section-5 .u-table-3 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 61px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 61px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 79px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 61px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 59px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -56px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -56px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -56px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 346px;
}

.u-section-6 .u-text-1 {
  margin: 100px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 314px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  margin: 20px 15px 0;
}

.u-section-7 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 20px 15px 0;
}

.u-section-7 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  margin: 20px 15px 0;
}

.u-section-7 .u-text-6 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-8 .u-sheet-1 {
  min-height: 439px;
}

.u-section-8 .u-table-1 {
  height: 333px;
  margin: 11px 0 60px;
}

.u-section-8 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-4 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-table-1 {
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
  }
}